.navClass:link, .navClass:visited {
    color: black;
    text-decoration: none;
}

.navClass:hover, .navClass:active {
    color: #59B060;
    text-decoration: none;
}

.facebook {
	background-image: 'url("/images/Services/alerts-and-advisories.jpg")';
	background-repeat: 'no-repeat';
	background-size: 'contain';
}