 .projlink:link, .projlink:visited {
 	margin-top: 10px;
    background-color: #f0fbfc;
    color: #126a7c;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}